* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  padding-top: 70px;
  background-color: #1F1F1F;
}

.header {
  background-color: #010101;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 30px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.8);
          box-shadow: 0 3px 10px rgba(0, 0, 0, 0.8);
}

.header img {
  height: 50px;
}

.header form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  width: 30%;
}

.header form input {
  margin: 0;
  background-color: #555;
  border: none;
  padding: 5px;
  font-size: 1.5rem;
  color: #111;
  outline: 0;
  border-radius: 3px 0 0 3px;
  width: 85%;
}

.header form input::-webkit-input-placeholder {
  color: black;
}

.header form input:-ms-input-placeholder {
  color: black;
}

.header form input::-ms-input-placeholder {
  color: black;
}

.header form input::placeholder {
  color: black;
}

.header form .searchBtn {
  display: inline-block;
  width: 10%;
  height: 3.1rem;
  background-color: #555;
  border-radius: 0 3px 3px 0;
}

.header form .searchBtn button {
  background-color: transparent;
  border: none;
  outline: 0;
  height: 100%;
  width: 100%;
  font-size: 1.9rem;
  color: black;
}

.header form .searchBtn:hover button {
  color: #FF8043;
}

.listBanner {
  position: fixed;
  top: 70px;
  padding: 10px;
  width: 100%;
  z-index: 99;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(85%, #1f1f1f), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(180deg, #1f1f1f 85%, rgba(255, 255, 255, 0) 100%);
}

.listBanner h2 {
  color: #FF8043;
  text-align: center;
  font-size: 4rem;
  font-weight: lighter;
  margin-top: 8px;
  margin-bottom: 15px;
}

.listBanner .listFilters {
  position: absolute;
  bottom: 20px;
  right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.listBanner .listFilters .filterTitle {
  margin: 0 10px;
  font-weight: 400;
  color: #FF8043;
}

.listBanner .listFilters .selectBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #555;
  height: 30px;
  border-color: #555;
  border-radius: 2px;
  outline: 0;
  color: black;
}

.listBanner .listFilters select {
  background-color: transparent;
  border: none;
  outline: 0;
}

.listContainer {
  padding-top: 15vh;
  width: 80%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.listContainer .movieCard {
  position: relative;
  width: 21%;
  min-width: 210px;
  margin: 20px 10px;
  padding: 1px;
  border: 1px solid rgba(20, 20, 20, 0.3);
  border-radius: 5px;
  -webkit-box-shadow: 15px 15px 20px #171717,  -15px -15px 20px #272727;
          box-shadow: 15px 15px 20px #171717,  -15px -15px 20px #272727;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.listContainer .movieCard:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.listContainer .movieCard .moviePoster {
  width: 100%;
  margin: 0 0 15px;
  background-image: url(../images/no_poster.png);
  background-size: contain;
  height: 24.5vw;
  min-height: 300px;
  border-radius: 5px;
}

.listContainer .movieCard .moviePoster img {
  width: 102%;
  margin-left: -1px;
  margin-top: -1px;
  border-radius: 5px 5px 0 0;
}

.listContainer .movieCard .movieDetails {
  margin: 0 8px;
  color: #777;
}

.listContainer .movieCard .movieDetails h4 a {
  color: #FF8043;
  font-size: 2rem;
}

.listContainer .movieCard .movieDetails > p {
  margin-bottom: 30px;
}

.listContainer .movieCard .movieDetails .movieRating {
  position: absolute;
  right: 5px;
  bottom: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: right;
  width: 90%;
}

.listContainer .movieCard .movieDetails .movieRating p {
  margin-bottom: 0;
}

.listContainer .movieCard .movieDetails .total {
  display: inline-block;
  background-color: black;
  width: 70%;
  height: 14px;
  margin-right: 5px;
  border-radius: 5px;
}

.listContainer .movieCard .movieDetails .rating {
  height: 100%;
  background-color: #4ba700;
  border-radius: 5px 0 0 5px;
}

.listContainer .movieCard .movieDetails .rating p {
  font-size: 1.1rem;
  padding-right: 3px;
  color: white;
}

.listPagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 50px 0 100px;
}

.listPagination ul {
  display: block;
  margin: 0 auto;
}

.listPagination ul > li > a {
  background-color: #1F1F1F;
  color: #FF8043;
  border-color: #555;
}

.listPagination ul > li > a:hover {
  background-color: #FF8043;
  color: black;
  border-color: #FF8043;
}

.listPagination ul > li.active > a {
  background-color: #FF8043;
  color: black;
  border-color: #FF8043;
}

.listPagination ul > li.active > a:hover {
  background-color: #FF8043;
  color: black;
  border-color: #FF8043;
}

.listPagination ul > li.disabled > a {
  background-color: #1F1F1F;
  color: #555;
  border-color: #555;
}

.listPagination ul > li.disabled > a:hover {
  background-color: #1F1F1F;
  color: #555;
  border-color: #555;
}

div.movieSingle {
  width: 70%;
  max-width: 1000px;
  margin: 10vh auto;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid rgba(20, 20, 20, 0.3);
  border-radius: 5px;
  -webkit-box-shadow: 20px 20px 30px #171717,  -20px -20px 30px #272727;
          box-shadow: 20px 20px 30px #171717,  -20px -20px 30px #272727;
}

div.movieSingle .backToList {
  position: absolute;
  top: -40px;
  left: 10px;
  color: #FF8043;
  text-decoration: none;
  font-size: 1.5rem;
}

div.movieSingle .backToList i.fas {
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

div.movieSingle .backToList:hover i {
  -webkit-transform: translateX(-5px);
          transform: translateX(-5px);
}

div.movieSingle .singlePoster {
  width: 35%;
}

div.movieSingle .singlePoster img {
  width: 100%;
}

div.movieSingle .singleDetails {
  width: 65%;
  padding: 0 20px;
}

div.movieSingle .singleDetails h2 {
  color: #FF8043;
}

div.movieSingle .singleDetails .date {
  color: #ddd;
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

div.movieSingle .singleDetails h4 {
  color: #FF8043;
  font-weight: lighter;
  font-size: 2rem;
}

div.movieSingle .singleDetails ul {
  margin-bottom: 2rem;
}

div.movieSingle .singleDetails ul li {
  display: inline-block;
  background-color: #999;
  color: black;
  padding: 5px 8px;
  margin: 3px;
  border-radius: 3px;
}

div.movieSingle .singleDetails p {
  color: #ccc;
  font-size: 1.6rem;
  font-weight: 300;
  letter-spacing: .2pt;
}
/*# sourceMappingURL=main.css.map */