<div loading="loading">
    <div class="movieSingle">
        <div class="singlePoster">
            <img ng-src="http://image.tmdb.org/t/p/w500{{movie.poster_path}}"/>
        </div>
        <div class="singleDetails">
            <h2>{{movie.title}}</h2>
            <p class="date">{{movie.release_date | date: 'dd/MM/yyyy'}}</p>
            <h4>Genre(s):</h4>
            <ul>
                <li ng-repeat="genre in movie.genres">{{genre.name}}</li>
            </ul>
            <h4>Synopsis :</h4>
            <p>{{movie.overview}}</p>
        </div>
    </div>
</div>