<div class="listBanner">
    <h2>{{title}}</h2>
    <div class="listFilters" ng-show="movies.length > 1">
        <label for="tri" class="filterTitle">Filtrer :</label>
        <span class="selectBox">
            <select name="tri" ng-model="order">
                <option value="">Les + Populaires</option>
                <option value="+title">Nom - Croissant</option>
                <option value="- title">Nom - Décroissant</option>
                <option value="-vote_average">Les mieux notés</option>
            </select>
        </span>
    </div>
</div>


<div  loading="loading">
    <div class="listContainer">
        <div ng-repeat="movie in movies | orderBy : order" class="movieCard">
            <div class="moviePoster">
                <a ng-href='#!/info/{{movie.id}}'>
                    <img ng-src="http://image.tmdb.org/t/p/w500{{movie.poster_path}}" alt="{{movie.title}} poster">
                </a>
            </div>
            <div class="movieDetails">
                <h4><a ng-href="#!/info/{{movie.id}}">{{movie.title}}</a></h4>
                <p class="movieOverview">{{movie.overview.split(" ").slice(0, 20).join(" ")}} ...</p>
                <div class="movieRating">
                    <!-- <span uib-rating ng-bind="movie.vote_average/2" max="5" read-only="true"></span> -->
                    <div class="total">
                    <div class="rating" ng-style="{width: movie.vote_average * 10 + '%'}"><p>{{movie.vote_average*10}}%</p></div>
                    </div>
                    <p>({{movie.vote_count}})</p>
                </div>
            </div>
        </div>
    </div>
    <div class="listPagination">
        <ul uib-pagination ng-model="pagination.currentPage" ng-change="pageChanged()" max-size="5" total-items="totalPages" items-per-page="15" boundary-links="true"></ul>
    </div>
</div>